<% if @user.errors.any? %>
    <h3>The form contains <%= pluralize(@user.errors.count, "error") %></h3>
    <ol>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
<% end %>

<%= form_with(model: @user, local: true) do |form| %>
  <%= form.label :username, "Edit your username:" %>
  <%= form.text_field :username %>
  <%= form.label :email %>
  <%= form.text_field :email, { placeholder: "example@example.com" } %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>