<%# <form action="/users" method="post" accept-charset="UTF-8" data-turbo="false">
  <input type="hidden" name="authenticity_token" value=" form_authenticity_token ">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username">
  <label for="email">E-mail:</label>
  <input type="email" name="user[email]" id="email">
  <label for="pwd">Password:</label>
  <input type="password" name="user[password]" id="pwd">
  <input type="submit" value="Submit">
</form> %>

<%#= form_tag("/users", method: "post") do %>
  <%#= label_tag(:username, "Username") %>
  <%#= text_field_tag(:username) %>
  <%#= label_tag(:email, "Email:") %>
  <%#= text_field_tag(:email) %>
  <%#= label_tag(:password) %>
  <%#= password_field_tag(:password) %>
  <%#= submit_tag("Submit") %>
<%# end %>
<% if @user.errors.any? %>
    <h3>The form contains <%= pluralize(@user.errors.count, "error") %></h3>
    <ol>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
<% end %>


<%= form_with model: @user do |form| %>
  <%= form.label :username, "Pick a username:" %>
  <%= form.text_field :username, { value: "UserDude123" } %>
  <%= form.label :email %>
  <%= form.text_field :email, { placeholder: "example@example.com" } %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>